
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: machina ;
    src: url(./fonts/PPNeueMachina_\ Light.ttf);
}
@font-face {
    font-family: machina-ink ;
    src: url(./fonts/PP\ Neue\ Machina\ Inktrap\ Medium.ttf);
}
@font-face {
    font-family: satoshi;
    src: url(./fonts/Satoshi-Variable.ttf);
}
:root{
    --salmon: #EF9D71;
    --cyan :#AEDEE0;
    --black :#000000;
    --white :#ffffff;
}

body{
    transition: background-color ease-out 0.5s;
}
.nav{
    transition: background-color ease-out 0.5s;
}
*::selection{
    background-color: #EF9D71;
}
body[theme="black"]{
    background-color: var(--black);
    color: white;
}
body[theme="white"]{
    background-color: var(--white);
    color: black;
}
body[theme="salmon"]{
    background-color:var(--salmon);
    color: var(--black)
}
body[theme="cyan"]{
    background-color: var(--cyan);
    color: black;
}   


.nav[theme="transparent"]{
    background-color: transparent;
    color: white;
}
.nav[theme="white"]{
    background-color: var(--white);
    color: black;
}
.nav[theme="salmon"]{
    background-color:var(--salmon);
    color: var(--black)
}
.nav[theme="cyan"]{
    background-color: var(--cyan);
    color: black;
}
.nav[theme="black"]{
    background-color: var(--black);
    color: white;
}
.video{
    clip-path: circle(var(--clip) at center);
}